.vscode/**
.vscode-test/**
.github/**
src/**
node_modules/**
.git/**
.gitignore
.yarnrc
*.md
!README.md
!CHANGELOG.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**
opencode.jsonc
package-lock.json
